@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&family=Tangerine:wght@400;700&display=swap');

@import "tailwindcss";

/* =========================
   VARIABLES
========================= */
:root {
  --background: #f8f8f8;
  --foreground: #2d2e6c;

  --color-primary: #805295;
  --color-primary-10: #f8f2f9;

  --color-secondary: #56bfd2;
  --color-secondary-10: #d6f0f5;

  --color-third: #eb6291;
  --color-third-10: #f7e6eb;

  --color-fourth: #2d2e6c;
  --color-fourth-10: #dbe9f3;
}

/* =========================
   BASE GLOBAL
========================= */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Poppins, sans-serif;

}

.font-mulish {
  font-family: 'Mulish', sans-serif;
}

.font-pixelify {
  font-family: 'Pixelify Sans', sans-serif;
}

.font-tangerine {
  font-family: 'Tangerine', sans-serif;
}


@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 4s ease-in-out infinite;
}